
        .bg-dark {
            background:#269092!important; 
        }

        .bg-primary{
            background:#2effe7!important;
        }

        .bg-secondary{
            
        }

        .bg-success{
            background:#195728!important;
        }

        .bg-warning{
            background:#b68f1b!important;
        }

        .bg-info{
            
        }

        .bg-danger{
            background:#ac0617!important;
        }

        .navbar-brand{
            

        }

        .sb-sidenav-dark{
            background:#69686e!important;
        }

        
        .sidebar .nav-link,.sidebar .nav-link .feather{
            
        }
        

        main{
            
        }

        .btn-primary{                  
            background:#28c3b1!important;border:1px solid #28c3b1!important;
        }

        .btn-secondary{                  
            background:#327769!important;border:1px solid #327769!important;
        }

        .btn-success{                  
            background:#1acb70!important;border:1px solid #1acb70!important;
        }

        .btn-danger{                  
            background:#ec3818!important;border:1px solid #ec3818!important;
        }

        .btn-warning{                  
            background:#dbcc24!important;border:1px solid #dbcc24!important;
        }

        .btn-info{                  
            background:#41b1c4!important;border:1px solid #41b1c4!important;
        }

        .modal-header{
            
        }

        .modal-body{
            
        }

        .modal-footer{
            
        }

        
        main,table thead tr th,table tbody tr td{
            
        }
        
            .navbar-dark .navbar-brand,.navbar-dark .navbar-nav .nav-link{
                
            }
        
        
        