
        .bg-dark {
            background:#d3940d!important; 
        }

        .bg-primary{
            background:#007bff!important;
        }

        .bg-secondary{
            background:#6c757d!important;
        }

        .bg-success{
            background:#28a745!important;
        }

        .bg-warning{
            background:#ffc107!important;
        }

        .bg-info{
            background:#17a2b8!important;
        }

        .bg-danger{
            background:#dc3545!important;
        }

        .navbar-brand{
            

        }

        .sb-sidenav-dark{
            background:#d3940d!important;
        }

        
        .sidebar .nav-link,.sidebar .nav-link .feather{
            
        }
        

        main{
            
        }

        .btn-primary{                  
            background:#14c8c5!important;border:1px solid #14c8c5!important;
        }

        .btn-secondary{                  
            background:#b94646!important;border:1px solid #b94646!important;
        }

        .btn-success{                  
            background:#430909!important;border:1px solid #430909!important;
        }

        .btn-danger{                  
            background:#2a0f0f!important;border:1px solid #2a0f0f!important;
        }

        .btn-warning{                  
            background:#9d2a2a!important;border:1px solid #9d2a2a!important;
        }

        .btn-info{                  
            background:#b44141!important;border:1px solid #b44141!important;
        }

        .modal-header{
            background:#e91616!important;
        }

        .modal-body{
            background:#18ecde!important;
        }

        .modal-footer{
            background:#4bb83d!important;
        }

        .page-item.active .page-link{
            
        }

        .page-link:hover{
            
        }

        
        main,table thead tr th,table tbody tr td{
            
        }
        
            .navbar-dark .navbar-brand,.navbar-dark .navbar-nav .nav-link{
                
            }
        
        
        